Find Drill CSVs and put to list

In [ ]:
from glob import glob

import pandas as pd


drill_csv_files = glob(r"C:\Users\Nik\OneDrive - Continuum Environmental Services, Ltd\Data Analytics_Consulting\Continuum Data Questions\Project Datasets\Drilling\*.csv")
dataframes_drill = []

for file in drill_csv_files:
    df = pd.read_csv(filepath_or_buffer=file, on_bad_lines='skip')
    dataframes_drill.append(df)

Concatenate all dataframes in the 'dataframes_drill' list into a single dataframe

In [27]:
all_drill_data = pd.concat(dataframes_drill, ignore_index=True)

In [28]:
all_drill_data

,DESCRIPTION,ITEM,BID QTY,U/M,UNIT BID,AMOUNT
0,Drill Rig Mobilization (<150'),2.01,1,LS,"$15,000.00","$15,000.00"
1,Drill & Complete <150',2.03,363,LF,$115.00,"$41,745.00"
2,Drilling Past Obstruction / Wet Drilling,2.05,1,HR,$875.00,$875.00
3,Standby,2.06,1,HR,$751.00,$751.00
4,Abandon Well (Boring Refusal),2.07,1,LF,$63.00,$63.00
...,...,...,...,...,...,...
91,Drill Rig Mobilization (<150') Site to Site,2.02,0,LS,"$13,450.00",$0.00
92,Drill & Compete <150',2.03,321,LF,$91.00,"$29,211.00"
93,Standby,2.06,1,HR,$791.00,$791.00
94,Abandon Well (Boring Refusal),2.07,100,LF,$74.00,"$7,400.00"
95,Benching for Drill Rig,2.09,6,EA,"$1,026.00","$6,156.00"

Clean Drill Data

In [29]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(all_drill_data):
    # Change DESCRIPTION column type to string
    all_drill_data['DESCRIPTION'] = all_drill_data['DESCRIPTION'].astype(str)
    # Change column type to string for column: 'ITEM'
    all_drill_data = all_drill_data.astype({'ITEM': 'string'})
    # Remove commas from all columns
    all_drill_data = all_drill_data.applymap(lambda x: str(x).replace(',', ''))
    # Ensure the result is a DataFrame
    if not isinstance(all_drill_data, pd.DataFrame):
        all_drill_data = pd.DataFrame({'Answer': [all_drill_data]})
    # Remove "$" from 'UNIT BID' and 'AMOUNT' columns
    all_drill_data['UNIT BID'] = all_drill_data['UNIT BID'].str.replace('$', '').str.strip()
    all_drill_data['AMOUNT'] = all_drill_data['AMOUNT'].str.replace('$', '').str.strip()
    # Remove ".00" from all string columns
    all_drill_data = all_drill_data.applymap(lambda x: x.replace('.00', '') if isinstance(x, str) else x)
    # Ensure the result is a DataFrame
    if not isinstance(all_drill_data, pd.DataFrame):
        all_drill_data = pd.DataFrame({'Answer': [all_drill_data]})
    # Change column type to float64 for column: 'UNIT BID'
    all_drill_data = all_drill_data.astype({'UNIT BID': 'float64'})
    # Change column type to float64 for column: 'AMOUNT'
    all_drill_data = all_drill_data.astype({'AMOUNT': 'float64'})
    # Change column type to int64 for column: 'BID QTY'
    all_drill_data = all_drill_data.astype({'BID QTY': 'int64'})
    return all_drill_data

all_drill_data_clean = clean_data(all_drill_data.copy())
all_drill_data_clean.head()

C:\Users\Nik\AppData\Local\Temp\ipykernel_20560\1595628129.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  all_drill_data = all_drill_data.applymap(lambda x: str(x).replace(',', ''))
C:\Users\Nik\AppData\Local\Temp\ipykernel_20560\1595628129.py:18: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  all_drill_data = all_drill_data.applymap(lambda x: x.replace('.00', '') if isinstance(x, str) else x)

,DESCRIPTION,ITEM,BID QTY,U/M,UNIT BID,AMOUNT
0,Drill Rig Mobilization (<150'),2.01,1,LS,15000.0,15000.0
1,Drill & Complete <150',2.03,363,LF,115.0,41745.0
2,Drilling Past Obstruction / Wet Drilling,2.05,1,HR,875.0,875.0
3,Standby,2.06,1,HR,751.0,751.0
4,Abandon Well (Boring Refusal),2.07,1,LF,63.0,63.0

Find Pipe CSVs and put to list

In [41]:
pipe_csv_files = glob(r"C:\Users\Nik\OneDrive - Continuum Environmental Services, Ltd\Data Analytics_Consulting\Continuum Data Questions\Project Datasets\Piping\*.csv")
dataframes_pipe = []

for file in pipe_csv_files:
    df = pd.read_csv(filepath_or_buffer=file, on_bad_lines='skip')
    dataframes_pipe.append(df)

Concatenate all dataframes in the 'dataframes' list into a single dataframe

In [42]:
all_pipe_data = pd.concat(dataframes_pipe, ignore_index=True)

In [43]:
all_pipe_data

,DESCRIPTION,ITEM,BID QTY,U/M,UNIT BID,AMOUNT,Proposal
0,Mobilization - Construction Crew,3.01,1,LS,"$10,102.00","$10,102.00",NaN
1,Seeding (grassing),3.03,1,AC,"$3,938.00","$3,938.00",NaN
2,"Silt Fence and Hay bales (Soil erosion, sedime...",3.04,1,AC,"$1,098.00","$1,098.00",NaN
3,"36"" Condensate Sump (<20' Deep)",4.04,1,EA,"$14,026.00","$14,026.00",NaN
4,"Pipeline 6"" (<5' Below Ground)",5.02,704,LF,$29.50,"$20,768.00",NaN
...,...,...,...,...,...,...,...
421,"Extraction Wellhead Sump for 6"" collector (Mod...",13.37,1,EA,"$4,609.00","$4,609.00",NaN
422,Flare Abandonment,13.38,3,Day,"$10,638.00","$31,914.00",NaN
423,Crane Rental,13.38a,2,Day,"$4,435.00","$8,870.00",NaN
424,Lowboy,13.38b,2,Day,"$1,478.00","$2,956.00",NaN
425,"6"" Leachate Collector",13.39,250,LF,$46.00,"$11,500.00",NaN

Clean Pipe Data

In [45]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(all_pipe_data):
    # Change DESCRIPTION column type to string
    all_pipe_data['DESCRIPTION'] = all_pipe_data['DESCRIPTION'].astype(str)
    # Change column type to string for column: 'ITEM'
    all_pipe_data = all_pipe_data.astype({'ITEM': 'string'})
    # Remove commas from all columns
    all_pipe_data = all_pipe_data.applymap(lambda x: str(x).replace(',', ''))
    # Ensure the result is a DataFrame
    if not isinstance(all_pipe_data, pd.DataFrame):
        all_pipe_data = pd.DataFrame({'Answer': [all_pipe_data]})
    # Remove "$" from 'UNIT BID' and 'AMOUNT' columns
    all_pipe_data['UNIT BID'] = all_pipe_data['UNIT BID'].str.replace('$', '').str.strip()
    all_pipe_data['AMOUNT'] = all_pipe_data['AMOUNT'].str.replace('$', '').str.strip()
    # Remove ".00" from all string columns
    all_pipe_data = all_pipe_data.applymap(lambda x: x.replace('.00', '') if isinstance(x, str) else x)
    # Ensure the result is a DataFrame
    if not isinstance(all_pipe_data, pd.DataFrame):
        all_pipe_data = pd.DataFrame({'Answer': [all_pipe_data]})
    # Change column type to float64 for column: 'UNIT BID'
    all_pipe_data = all_pipe_data.astype({'UNIT BID': 'float64'})
    # Change column type to float64 for column: 'AMOUNT'
    all_pipe_data = all_pipe_data.astype({'AMOUNT': 'float64'})
    # Replace 'nan', empty strings, or actual NaN with 0 in 'BID QTY' before converting to int
    all_pipe_data['BID QTY'] = all_pipe_data['BID QTY'].replace(['nan', '', None], 0)
    all_pipe_data['BID QTY'] = pd.to_numeric(all_pipe_data['BID QTY'], errors='coerce').fillna(0).astype(int)
    # Drop column: 'Proposal'
    all_pipe_data = all_pipe_data.drop(columns=['Proposal'])
    return all_pipe_data

all_pipe_data_clean = clean_data(all_pipe_data.copy())
all_pipe_data_clean.head()

C:\Users\Nik\AppData\Local\Temp\ipykernel_20560\1194108444.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  all_pipe_data = all_pipe_data.applymap(lambda x: str(x).replace(',', ''))
C:\Users\Nik\AppData\Local\Temp\ipykernel_20560\1194108444.py:18: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  all_pipe_data = all_pipe_data.applymap(lambda x: x.replace('.00', '') if isinstance(x, str) else x)

,DESCRIPTION,ITEM,BID QTY,U/M,UNIT BID,AMOUNT
0,Mobilization - Construction Crew,3.01,1,LS,10102.0,10102.0
1,Seeding (grassing),3.03,1,AC,3938.0,3938.0
2,Silt Fence and Hay bales (Soil erosion sedimen...,3.04,1,AC,1098.0,1098.0
3,"36"" Condensate Sump (<20' Deep)",4.04,1,EA,14026.0,14026.0
4,"Pipeline 6"" (<5' Below Ground)",5.02,704,LF,29.5,20768.0